@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 181, 255, 225;
  --background-end-rgb: 244, 219, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  @apply text-blue-600 hover:text-blue-800;
}


.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.descr{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
}

.primary-button {
  @apply rounded bg-cyan-200 py-2 px-4 shadow outline-none hover:bg-cyan-400  active:bg-cyan-600;
}

.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

#google_translate_element {
  margin-left: -20px;
  margin-right: 130px;
  margin-top: 5px;

  .goog-te-combo:nth-child(2){
    display: none;
  }

  .skiptranslate.goog-te-gadget:nth-child(2){
    display: none;
  }

  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
  }

  .skiptranslate.goog-te-gadget{
    #text {
      display: none;
    }
  }

 
}

.h-12 {
  height: 4rem;
}

.trn{
  width: 126px;
}

.searchform{
  width: 400px;
  margin-left: -100px;
}

.goog-te-gadget{
  font-size: 9px;
}







